<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>FLAE</title>
     <style>
           body
           {
           background-repeat;

           background-attachment:fixed;
           background-size:;
           background-image:url({{url_for('static',filename='builtin/qo.webp')}})
           }
           h1
           {
           color:#00ff7f
           }
           h2{color:#8b0000;}




     </style>
</head>
<body>

<center><h1>டேய் வெண்ண  password  ஒழுங்கா போடுடா😡</h1></center>
<center><h2> 👈BACK VADA</h2></center>
</body>
</html>