<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vasanseeni</title>
    <style>
     body
           {
           background-repeat;
           background-attachment:fixed;
           background-size:;
           background-image:url({{url_for('static',filename='builtin/rrr.webp')}})
           }
           h1{color:#8b0000;}
           a{
           color:red;
           }





    </style>

</head>

<body>
<center><h1><mark>IAM GET YOU ANSWER</mark></h1></center>
<center><h2>🙏THANKS🙏</h2></center>
<table>

</table>
<h3><center><a  href="https://youtube.com/shorts/JX6uhvhbFSk?feature=share"><h1><marquee>SELVAM🖤edit <mark>CLICK HEAR</mark> 👈</marquee></h1></a></center></h3>

</body>
</html>
